//cores

$cor-bg-branco: #ededed;
$cor-bg-preto: #232323;
$cor-bg-preto-shadow: #23232398;
$cor-bg-amarela: #f2c81c;
$cor-bg-amarela-claro: #f0d468;
$cor-bg-amarela-medio: #d4a809;
$cor-bg-amarela-escuro: #8c7415;